.cartDetails {
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 750rem;
    bottom: 0;
    background-color: #fff;
    padding-bottom: 120rem;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
    max-height: 1200rem;
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 28rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30rem;
}

.clearAll {
    color: #aaa;
    font-size: 28rem;
}

.clearAll span {
    margin-left: 12rem;
}

.mealList {
    overflow: auto;
}