.filterMeals {
    display: flex;
    height: 120rem;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px #f2f2f2 solid;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 650rem;
    height: 70rem;
    border: none;
    border-radius: 16px;
    background-color: #f2f2f2;
    padding-left: 60rem;

}

.searchIcon {
    position: absolute;
    left: 10rem;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #aaa;
}

.inputOuter {
    display: flex;
    position: relative;
    align-items: center;
}